<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Post</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>New Post</h1>
  <form action="/posts" method="POST">
    <input type="text" name="title" placeholder="Title" required><br>
    <textarea name="content" placeholder="Content" required></textarea><br>
    <button type="submit">Publish</button>
  </form>
</body>
</html>
